$gap: 5vw;

.roadmap {
  align-self: flex-end;
  width: 100%;

  h3 {
    margin-bottom: $gap;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $gap;
    transition: transform 1s ease-in-out;
    transform: scaleY(0.5) translateY(150%);
    transform-origin: top;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba($color: $color-primary, $alpha: 0.1);
  }

  &__header {
    font-weight: 400;
  }

  &__time {
    white-space: nowrap;
  }

  &--in-view &__list {
    transform: scaleY(1) translateY(0);
  }
}
