.socials {
  $gap: 3vw;

  display: flex;
  gap: $gap * 3;

  @media screen and (min-width: 768px) {
    gap: $gap * 3;
  }

  &__link {
    height: $gap * 3;
    width: $gap * 3;
    display: inline-block;
    filter: grayscale(0);
    transition: filter 0.2s linear;

    @media screen and (min-width: 768px) {
      height: $gap * 1.5;
      width: $gap * 1.5;
    }

    &:hover {
      filter: grayscale(0.7);
    }
  }
}
