@import '../components/roadmap.scss';

.about {
  @include section-style($color-primary, $color-secondary, 1.45);

  h2 {
    margin-bottom: 5vw;
  }

  &__content-wrapper {
    display: grid;
    gap: 50px 7vw;

    @media screen and (min-width: 1024px) {
      grid-template-columns: 3fr 5fr;
    }
  }

  &__content-info {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    align-self: center;
    font-size: $font-size-small * 1.9;

    p {
      text-align: justify;
    }

    @media screen and (min-width: 768px) {
      font-size: $font-size-small * 1.5;
    }

    @media screen and (min-width: 1024px) {
      font-size: $font-size-small;
    }
  }

  &__image-wrapper {
    width: 33%;
    min-width: 150px;
    border: 1px solid black;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-radius: 50%;
    animation: up-down infinite ease-in-out alternate-reverse 3s;

    @media screen and (min-width: 1024px) {
      width: 50%;
    }

    img {
      object-fit: cover;
      transform: scale(1);
    }
  }

  @keyframes up-down {
    0% {
      transform: translateY(-5%);
    }

    100% {
      transform: translateY(5%);
    }
  }
}