@import '../components/project-card.scss';

.projects {
    @include section-style($color-primary, $color-secondary, 1.45);

    h2 {
        margin-bottom: 5vw;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__swiper {
        overflow: hidden;
        max-width: 100%;
        margin-bottom: 3vw;
        transition: transform 1s ease-out;
        transform: translateX(-150%);

        .swiper-slide {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .project-card {
                flex: 0 1 27vw;
            }
        }
    }

    &--in-view &__swiper {
        transform: translateX(0);
    }
}