@font-face {
  font-family: 'ttfirsneue';
  src: url("/fonts/TTFirsNeue-Regular.woff2") format("woff2"), url("/fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ttfirsneue';
  src: url("/fonts/TTFirsNeue-Bold.woff2") format("woff2"), url("/fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.nav__link,
.header__btn-search-open,
.social__link,
.hero__link-more,
.about__form-btn,
.contacts__form-btn,
.project__btn,
.burger span {
  -webkit-transition-property: background-color, color, fill, -webkit-transform;
  transition-property: background-color, color, fill, -webkit-transform;
  transition-property: transform, background-color, color, fill;
  transition-property: transform, background-color, color, fill, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.btn-close {
  cursor: pointer;
}

.btn-close:focus-visible {
  background-color: #BC572B;
}

.logo:focus-visible {
  outline: 1px solid #FF6E30;
}

.nav__link, .map-block__tel {
  position: relative;
}

.nav__link::before, .map-block__tel::before {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}

.nav__link:focus-visible {
  outline: none;
}

.nav__link:focus-visible::before {
  background-color: #BC572B;
  z-index: -1;
}

.map-block__tel:focus-visible {
  outline: none;
}

.map-block__tel:focus-visible::before {
  left: 1px;
  background-color: #fff;
  z-index: -1;
}

.header__btn-search-open:focus-visible {
  fill: #BC572B;
}

.social__link:focus-visible {
  outline: none;
  fill: #BC572B;
}

.hero__link-more:focus-visible,
.about__form-btn:focus-visible,
.contacts__form-btn:focus-visible {
  outline: none;
  border-color: #BC572B;
}

.project__btn:focus-visible {
  outline: none;
  border-color: #FF6E30;
  background-color: #BC572B;
}

.about__form-input:focus-visible,
.contacts__form-input:focus-visible,
.contacts__form-textarea:focus-visible {
  outline: 1px solid #FF6E30;
}

.contacts__form-input.just-validate-error-field:focus-visible {
  outline: 1px solid #ff3030;
}

.about__form-input.just-validate-error-field:focus-visible {
  outline: 1px solid #F06666;
}

@media (hover: hover) and (pointer: fine) {
  .nav__link:hover {
    color: #FF6E30;
  }
  .header__btn-search-open:hover {
    cursor: pointer;
    fill: #FF6E30;
  }
  .social__link:hover {
    fill: #FF6E30;
  }
  .hero__link-more:hover,
  .about__form-btn:hover,
  .contacts__form-btn:hover {
    cursor: pointer;
    background-color: #BC572B;
  }
  .project__btn:hover {
    cursor: pointer;
    background-color: #FF6E30;
  }
}

.burger span {
  -webkit-transform-origin: left;
          transform-origin: left;
}

.burger:active span {
  background-color: #CE4307;
}

.burger:active span:nth-child(3) {
  -webkit-transform: translateY(-100%) scaleX(2);
          transform: translateY(-100%) scaleX(2);
}

.nav__link:active {
  color: #CE4307;
}

.header__btn-search-open:active {
  fill: #CE4307;
}

.social__link:active {
  fill: #CE4307;
}

.hero__link-more:active,
.about__form-btn:active,
.contacts__form-btn:active,
.project__btn:active {
  background-color: #CE4307;
  border-color: #CE4307;
}
/*# sourceMappingURL=ul-kits.css.map */