$color-primary: #000;
$color-secondary: #fffbdb;
$color-accent: #9381ff;
$color-accent-secondary: #fff;

$font-size-default: var(--font-size-page);

$font-size-small: 2vw;
$font-size-regular: 3vw;
$font-size-large: 4vw;
$font-size-more-large: 5vw;
$font-size-over-large: 6vw;

$scheme-light: $color-primary, $color-secondary;
$scheme-dark: $color-secondary, $color-primary;
