@import './tag-button.scss';

.project-card {
  $border-radius: 2vh;

  height: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: $font-size-default;

  @media screen and (min-width: 560px) {
    font-size: $font-size-small;
  }

  @media screen and (min-width: 1440px) {
    font-size: $font-size-small * 0.75;
  }

  &__top {
    position: relative;
    display: grid;
    grid-template-rows: 60% auto;
    align-items: center;
    width: 100%;
    border-radius: $border-radius;
    height: 30vw;
    min-height: 300px;
    overflow: hidden;
    background-color: rgba($color: $color-primary, $alpha: 0.05);

    @media screen and (min-width: 768px) {
      grid-template-rows: 55% auto;
    }
  }

  &__filters-list {
    padding: 2vw;
    z-index: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    align-self: stretch;
    gap: 1vw;
  }

  &__filters-item {
    flex: 1 1 auto;

    .tag-button {
      width: 100%;
      height: 100%;

      @media screen and (min-width: 768px) {
        font-size: $font-size-small;
      }
    }
  }

  &__deploy-link {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__image {
    inset: 0;
    width: 100%;
    z-index: 0;
    object-position: center center;
    object-fit: cover;
    max-height: 100%;
    filter: grayscale(1);
    transition: filter 0.2s ease-in-out;

    @media screen and (hover: none) {
      filter: grayscale(0);
    }
  }

  &:hover &__image {
    filter: grayscale(0);
  }

  &__date {
    position: absolute;
    z-index: 1000;
    right: 5%;
    top: 2.5%;
    padding: 2.5% 5%;
    border-radius: 1vw;
    @include color-scheme($color-secondary, rgba($color-primary, 0.5));
    font-size: small;
  }

  &__details {
    position: relative;
    margin-top: auto;
    display: grid;
    grid-template-columns: 40% 3vw;
    grid-template-rows: 10vw;
    padding: 0.5vw 1vw;
    justify-content: space-around;
    align-items: center;
    font-size: 0;
    border-radius: $border-radius;
    box-shadow: 0 0 20px rgba($color-primary, 0.5);
    background-color: rgba($color: #000, $alpha: 0.1);

    @media screen and (min-width: 768px) {
      grid-template-rows: 5vw;
    }

    ::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: auto;
      left: 50%;
      transform: translateX(-50%) scaleY(0.75);
      width: 2px;
      border-radius: $border-radius;
      background-color: rgba($color: #000000, $alpha: 0.1);
    }

    a {
      border-radius: 50%;
      overflow: hidden;
      height: 100%;
      aspect-ratio: 1/1;
    }
  }

  .tag-button {
    pointer-events: none;
  }
}
