.sort-date-button {
  display: flex;
  background-color: transparent;
  flex: 1 0 10vw;

  &__image {
    width: 50%;
    object-position: center center;

    &:nth-child(2) {
      transform: rotate(180deg);
    }
  }

  &--down {
    .sort-date-button__image:nth-child(1) {
      filter: invert(0.4);
    }
  }

  &--top {
    .sort-date-button__image:nth-child(2) {
      filter: invert(0.4);
    }
  }
}
