@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 350px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 5, 37);
  font-family: 'Poppins', sans-serif;
  color: #fff;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
