@font-face {
  font-family: 'ttfirsneue';
  src: url("/fonts/TTFirsNeue-Regular.woff2") format("woff2"), url("/fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ttfirsneue';
  src: url("/fonts/TTFirsNeue-Bold.woff2") format("woff2"), url("/fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@media (min-width: 626px) {
  .container {
    padding: 0 27px;
  }
  .card-type {
    position: absolute;
    top: 17px;
    right: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 7px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #333;
  }
  .header__btn-search-open {
    width: 25px;
    height: 25px;
  }
  .header__nav {
    left: -27px;
    width: calc(100% + 54px);
    padding: 13px 27px;
  }
  .header__search-block {
    left: 50%;
  }
  .nav__btn-open, .nav__btn-close, .nav__tel {
    display: none;
  }
  .nav__menu {
    opacity: initial;
    display: block;
    padding: 0;
    background-color: initial;
    position: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__item:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .nav__link {
    text-decoration: none;
    font-family: "ttfirsneue";
    color: #fff;
    font-size: 16px;
    line-height: 20px;
  }
  .hero {
    padding-top: 35px;
    padding-bottom: 71px;
  }
  .hero__card {
    background-image: url(/images/hero_1_768.png);
  }
  .hero__author {
    font-size: 16px;
    margin-bottom: 17px;
  }
  .hero__card-main-title {
    font-size: 34px;
    line-height: 30.6px;
    margin-bottom: 23px;
  }
  .hero__link-more {
    font-size: 16px;
    padding: 12px 19px;
  }
  .hero__card-sub-titile {
    font-size: 22px;
    line-height: 22.88px;
  }
  .about {
    padding-top: 30px;
  }
  .about__title {
    font-size: 24px;
  }
  .about__text {
    font-size: 16px;
    line-height: 28px;
  }
  .about__form {
    padding-top: 165%;
    padding-bottom: 10px;
    background-image: url(/images/about_768.png);
    background-size: 100% 75%;
  }
  .about__form-title {
    font-size: 24px;
  }
  .about__form-input {
    font-size: 16px;
    padding: 16px 23px;
  }
  .about__form-btn {
    min-width: 115px;
    max-width: 100%;
    color: #fff;
    font-weight: 700;
    border: 3px solid #FF6E30;
    background-color: transparent;
    padding: 12px 20px;
    background-color: #FF6E30;
    font-size: 16px;
  }
  .projects {
    padding-top: 72px;
    padding-bottom: 74px;
  }
  .projects__title {
    font-size: 24px;
  }
  .projects__grid-item:not(:last-child) .project--large {
    margin-bottom: 0;
  }
  .projects__grid-item:nth-child(1) .projects__card {
    background-image: url("/images/project_1_768.png");
  }
  .projects__grid-item:nth-child(2) .projects__card {
    background-image: url("/images/project_2_768.png");
  }
  .projects__grid-item:nth-child(3) .projects__card {
    background-image: url("/images/project_3_768.png");
  }
  .projects__grid-item:nth-child(4) .projects__card {
    background-image: url("/images/project_4_768.png");
  }
  .projects__grid-item:nth-child(5) .projects__card {
    background-image: url("/images/project_5_768.png");
  }
  .projects__grid-item:nth-child(6) .projects__card {
    background-image: url("/images/project_6_768.png");
  }
  .projects__grid-item:nth-child(7) .projects__card {
    background-image: url("/images/project_7_768.png");
  }
  .project__type {
    top: 9px;
    right: 7px;
    padding: 5px 14px;
  }
  .project__desc {
    margin-bottom: 20px;
  }
  .project__title {
    margin-bottom: 6px;
  }
  .project__btn {
    margin-top: auto;
    min-width: 115px;
    max-width: 100%;
    color: #fff;
    font-weight: 700;
    border: 3px solid #FF6E30;
    background-color: transparent;
    padding: 11px 20px;
    font-size: 16px;
  }
  .project__date--large {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .project__desc--large {
    font-size: 16px;
    line-height: 22px;
  }
  .project--large {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 300px;
    padding-top: 35px;
    padding-right: 55%;
  }
  .contacts {
    padding-bottom: 70px;
  }
  .contacts__title {
    font-size: 24px;
  }
  .contacts__form-title {
    font-size: 24px;
    margin-bottom: 2px;
  }
  .contacts__form-desc {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
  }
  .contacts__form-input, .contacts__form-textarea {
    font-size: 16px;
    padding: 15px 23px;
  }
  .contacts__form-textarea {
    height: 150px;
  }
  .contacts__form-btn {
    min-width: 115px;
    max-width: 100%;
    color: #fff;
    font-weight: 700;
    border: 3px solid #FF6E30;
    background-color: transparent;
    padding: 13px 20px;
    background-color: #FF6E30;
    font-size: 16px;
  }
  .map-block {
    width: 100%;
    left: 0;
    overflow: hidden;
  }
  .map-block__desc-block {
    padding: 25px 30px;
    padding-right: 35%;
  }
  .map-block__title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .map-block__address {
    line-height: 28px;
    margin-bottom: 3px;
    font-size: 16px;
  }
  .map-block__tel {
    font-size: 16px;
  }
  .footer {
    height: auto;
    background-color: #202020;
    padding: 23px 0;
  }
  .footer::after {
    content: none;
  }
  .footer__logo-block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__logo-link {
    margin-bottom: 3px;
  }
  .footer__social {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .copyrights {
    font-size: 14px;
  }
}

@media (min-width: 968px) {
  .container {
    padding: 0 31px;
  }
  .header {
    padding-bottom: 27px;
  }
  .header__nav {
    position: static;
    width: auto;
    background-color: initial;
    padding: 0;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item:not(:last-child) {
    margin-right: 33px;
  }
  .hero__card {
    padding-right: 25px;
    background-image: url(/images/hero_1_1024.png);
  }
  .hero__card-main-title {
    line-height: 34px;
  }
  .hero__author {
    margin-bottom: 10px;
  }
  .hero__card-sub-titile {
    font-size: 24px;
    line-height: 24.96px;
    margin-bottom: 25px;
  }
  .about {
    padding-bottom: 39px;
  }
  .about__form {
    padding-top: 75%;
    padding-right: 125px;
    padding-bottom: 50px;
    background-image: url(/images/about_1024.png);
    background-size: 100% 60%;
  }
  .projects__grid-item:nth-child(1) .projects__card {
    background-image: url("/images/project_1_1024.png");
  }
  .projects__grid-item:nth-child(1) .projects__card .project__desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .projects__grid-item:nth-child(2) .projects__card {
    background-image: url("/images/project_2_1024.png");
  }
  .projects__grid-item:nth-child(2) .projects__card .project__desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .projects__grid-item:nth-child(3) .projects__card {
    background-image: url("/images/project_3_1024.png");
  }
  .projects__grid-item:nth-child(3) .projects__card .project__desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .projects__grid-item:nth-child(4) .projects__card {
    background-image: url("/images/project_4_1024.png");
  }
  .projects__grid-item:nth-child(5) .projects__card {
    background-image: url("/images/project_5_1024.png");
  }
  .projects__grid-item:nth-child(5) .projects__card .project__desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .projects__grid-item:nth-child(6) .projects__card {
    background-image: url("/images/project_6_1024.png");
  }
  .projects__grid-item:nth-child(6) .projects__card .project__desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .projects__grid-item:nth-child(7) .projects__card {
    background-image: url("/images/project_7_1024.png");
  }
  .project--large {
    padding-right: 45%;
    padding-bottom: 37px;
    min-height: 307px;
  }
  .contacts__form {
    padding-left: 10px;
  }
  .map-block {
    top: 10px;
    height: 460px;
  }
  .map-block__desc-block {
    padding-right: 44%;
  }
  .map-block__address {
    display: inline;
  }
  .map-block__tel {
    position: relative;
    left: 5px;
    display: inline;
  }
  .footer__logo-block {
    padding-top: 5px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .blockquote {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
  }
  .blockquote__desc {
    margin: 0;
    color: #cacaca;
    font-size: 16px;
  }
  .blockquote__author {
    margin: 0;
    color: #666;
    font-size: 16px;
  }
}

@media (min-width: 1300px) {
  .tel {
    left: 0;
    color: #fff;
  }
  .tel__img {
    fill: #fff;
  }
  .header {
    padding-bottom: 24px;
  }
  .header__btn-search-open {
    display: none;
  }
  .header__social-list {
    justify-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__menu {
    width: 100%;
  }
  .hero__card {
    background-image: url(/images/hero_1_1920.png);
    padding: 60px;
  }
  .hero__card-main-title {
    font-size: 36px;
    line-height: 37.44px;
    margin-bottom: 19px;
  }
  .hero__author {
    margin-bottom: 0;
  }
  .about {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .about__text {
    font-size: 16px;
  }
  .about__form {
    padding: 0;
    padding-top: 44%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-image: url(/images/about_1920.png);
    background-size: 100% 70%;
  }
  .about__form-title {
    width: 100%;
  }
  .about__form-input-container {
    width: calc(100% - 156px);
  }
  .about__form-input {
    width: 100%;
    margin-bottom: 0;
  }
  .projects {
    padding-bottom: 70px;
  }
  .projects__grid-item:nth-child(1) .projects__card {
    background-image: url("/images/project_1_1920.png");
  }
  .projects__grid-item:nth-child(1) .projects__card .project__desc {
    -webkit-line-clamp: 3;
  }
  .projects__grid-item:nth-child(2) .projects__card {
    background-image: url("/images/project_2_1920.png");
  }
  .projects__grid-item:nth-child(2) .projects__card .project__desc {
    -webkit-line-clamp: 3;
  }
  .projects__grid-item:nth-child(3) .projects__card {
    background-image: url("/images/project_3_1920.png");
  }
  .projects__grid-item:nth-child(3) .projects__card .project__desc {
    -webkit-line-clamp: 3;
  }
  .projects__grid-item:nth-child(4) .projects__card {
    background-image: url("/images/project_4_1920.png");
  }
  .projects__grid-item:nth-child(5) .projects__card {
    background-image: url("/images/project_6_1920.png");
  }
  .projects__grid-item:nth-child(6) .projects__card {
    background-image: url("/images/project_7_1920.png");
  }
  .projects__grid-item:nth-child(7) .projects__card {
    background-image: url("/images/project_5_1920.png");
  }
  .project--large {
    min-height: 300px;
    padding: 30px 30px;
    padding-right: 49%;
  }
  .map-block {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .map-block__desc-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 410px;
    padding: 60px;
    padding-top: 80px;
    padding-right: 55px;
  }
}
/*# sourceMappingURL=media.css.map */