html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ececec;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 20% 1fr 20%;
  gap: 20px;

  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  grid-area: header;
  background-color: cyan;
}

.aside {
  grid-area: aside;
  background-color: cyan;
}

.main{
  grid-area: main;
  background-color: cyan;
}

.footer {
  grid-area: footer;
  background-color: cyan;
}

.grid {
  padding-top: 20px;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, minmax(250px, auto));
  /* grid-template-columns: repeat(auto-fill, minmax(300px, auto)); */
  grid-auto-rows: 300px;
  grid-auto-columns: 1fr;
  gap: 20px 40px;
  grid-auto-flow: row;
  /* justify-items: center;
  align-items: center; */
}

.grid__item {
  background-color: crimson;
  min-height: 100px;
  border: 1px solid white;
  color: white;
  font-size: 2rem;
}

.item5 {
  grid-column: 2/span 2;
  grid-row: 2/span 2;
}

.green {
  background-color: green;
  order: -1;
  /* align-self: end;
  justify-self: end; */
}
