:root {
    font-family: "Portfolio Fonts", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

body {
    margin: 0;
    min-height: 100vh;
    font-size: $font-size-regular;
    @include color-scheme($scheme-light ...);

    @media screen and (min-width: 768px) {
        font-size: $font-size-regular;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: 1px solid transparent;
    padding: 0;
    font-family: inherit;
    cursor: pointer;
}

.accent {
    color: $color-accent;
}

.section-header {
    font-size: $font-size-over-large;
}

.sub-header {
    font-size: $font-size-large;
}

// @media (prefers-color-scheme: light) {}